anyio==3.4.0
asgiref==3.4.1
asn1crypto==1.4.0
attrs==21.2.0
base45==0.4.3
cbor2==5.4.2
certifi==2022.12.7
certvalidator==0.11.1
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
coverage==6.2
cryptography==39.0.1
cwt==1.5.1
fastapi==0.70.1
freezegun==1.1.0
h11==0.12.0
idna==3.3
iniconfig==1.1.1
oscrypto==1.2.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pydantic==1.8.2
pyparsing==3.0.6
pytest==6.2.5
python-dateutil==2.8.2
requests==2.26.0
six==1.16.0
sniffio==1.2.0
starlette==0.25.0
toml==0.10.2
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
